REACT_APP_NETWORK=mainnet
REACT_APP_BCHA_APIS=https://api.sendlotus.com/v4/
REACT_APP_BCHA_APIS_TEST=https://api.sendlotus.com/v4/
REACT_APP_BCHA_LIXI_APIS=https://api.lixilotus.com/api/
REACT_APP_BCHA_LIXI_APIS_BASE=https://api.lixilotus.com/
REACT_APP_BCHA_LIXI=https://lixilotus.com/